.navbar{
    background-color: tan;
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a{
    text-decoration: none;
    color: white;
}