body{
    margin: 0;
    width: 100%;
    top: 0%;
}
/*header*/
.container-0{
    margin-left: 40px;
}
.container01{
    width: 10%;
}
.container-1{
    width: 67%;
    background-color:rgb(241 128 88);
    height: 30px;
    margin-top: 2%;
}
.container-1 input{
    width: 750px;
    border: solid 2px rgb(241 128 88);
    height: 30px;
    border-radius: 10px;
    position: relative;
    bottom: 16px;
}
.icon2{
    position: relative;
    bottom: 55px;
    right: 1%;
   float: right;
 
}
.flacon{
    position: relative;
    right: 3%;
    bottom: 15px;
}
.container2 button{
    margin-left: 4%;
    border: none;
    background-color: rgb(226, 199, 194);
    color: white;
    height: 5%;
    border-radius: 50px;
    padding: 0 20px 0 20px;
}
.container2 button:hover{
    background-color: #de725d;
}
.container2{
    background-color:  rgb(226, 199, 194);
    width: 100%;
}
/*header*/

/* <!-- <section></section> -- */
.section1{
    display: flex;
    background-color: antiquewhite;
}
.imgclass{
    margin-top: 5%;
}
.img-icon img {
    width: 100%;
}
.img-icon img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.img-icon a{
    margin-right: 5%;
    color:#fcfc02;
    text-decoration: none;
    border: solid 2px #d07777;
    margin-bottom: 5%;
    background-color: burlywood;
    text-align: center;
}
.img-icon{
    display: flex;
    margin-left: 10%;
}
.muntifly1{
    color: white;
    width: 100px;
    height: 30px;
    background-color: rgb(243, 82, 82);
    padding-top: 15px;
}
.muntifly{
    background-color: rgb(247, 246, 242);
}
.muntifly h5:hover{
    background-color: thistle;
}
.muntifly h5{
    margin: 0;
    padding: 10px;
}



